html {
  background-color: rgb(27, 172, 17);
}

.code-font {
  display: inline;
  background-color: gray;
  font-family: 'Courier New', Courier, monospace;
  color: yellow;
  width: auto;
}

.alpha-list {
  list-style-type: lower-alpha;
}

.emphasis {
  font-style: italic;
  color: rgb(169, 0, 0);
}